@mixin os {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0;
}

$purp: #8673FF;






// $blue: #0674ec;


// @mixin f700 {
//     font-family: 'Quicksand', sans-serif;
//     font-weight: 700;
// }